# Analisis exploratorio de los datos preprocesados

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df=pd.read_csv('data/processed/data_final.csv')
df.head()

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,Zona
0,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,52.0,49.71,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NORTE
1,2020-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,53.0,46.70,715.1,0.0,88.0,NaN,0.002,11.14,1.3,3.0,NORTE
2,2020-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,59.0,44.42,714.1,0.0,88.0,NaN,0.002,11.35,1.3,119.0,NORTE
3,2020-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,60.0,46.84,713.8,0.0,88.0,NaN,0.002,11.52,1.3,110.0,NORTE
4,2020-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,59.0,33.15,713.3,0.0,88.0,NaN,0.002,11.52,NaN,110.0,NORTE

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144498 entries, 0 to 144497
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    144498 non-null  object
 1   CO      118622 non-null  float64
 2   NO      113641 non-null  float64
 3   NO2     116278 non-null  float64
 4   NOX     118166 non-null  float64
 5   O3      117992 non-null  float64
 6   PM10    137680 non-null  float64
 7   PM2.5   107799 non-null  float64
 8   PRS     130513 non-null  float64
 9   RAINF   133977 non-null  float64
 10  RH      118685 non-null  float64
 11  SO2     115083 non-null  float64
 12  SR      141707 non-null  float64
 13  TOUT    126924 non-null  float64
 14  WSR     133082 non-null  float64
 15  WDR     122274 non-null  float64
 16  Zona    144498 non-null  object
dtypes: float64(15), object(2)
memory usage: 18.7+ MB

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

print("DataFrame con índice de fecha listo.")
print(df.info())

DataFrame con índice de fecha listo.
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 144498 entries, 2020-01-01 00:00:00 to 2025-06-30 23:00:00
Data columns (total 16 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   CO      118622 non-null  float64
 1   NO      113641 non-null  float64
 2   NO2     116278 non-null  float64
 3   NOX     118166 non-null  float64
 4   O3      117992 non-null  float64
 5   PM10    137680 non-null  float64
 6   PM2.5   107799 non-null  float64
 7   PRS     130513 non-null  float64
 8   RAINF   133977 non-null  float64
 9   RH      118685 non-null  float64
 10  SO2     115083 non-null  float64
 11  SR      141707 non-null  float64
 12  TOUT    126924 non-null  float64
 13  WSR     133082 non-null  float64
 14  WDR     122274 non-null  float64
 15  Zona    144498 non-null  object
dtypes: float64(15), object(1)
memory usage: 18.7+ MB
None

In [ ]:
stats_summary = df[numeric_cols].describe()

print("\n--- Resumen Estadístico de Variables Numéricas ---")
print(stats_summary.T)

--- Resumen Estadístico de Variables Numéricas ---
          count        mean         std      min     25%      50%      75%  \
CO     118622.0    1.351387    0.884103     0.05    0.67    1.170    1.810
NO     113641.0    8.955196   16.231528     0.50    2.60    3.600    7.600
NO2    116278.0   14.686102   12.508786     0.00    6.30   11.100   19.200
NOX    118166.0   22.960721   24.220810     0.50    9.00   14.900   27.400
O3     117992.0   28.350108   19.828295     1.00   13.00   24.000   39.000
PM10   137680.0   54.874273   35.123320     2.00   33.00   47.000   67.000
PM2.5  107799.0   20.110019   13.825272     0.00   10.15   17.000   26.660
PRS    130513.0  712.075770    4.612436   669.00  709.20  711.900  714.900
RAINF  133977.0    0.004391    0.373807     0.00    0.00    0.000    0.000
RH     118685.0   53.385490   94.661873 -9999.00   38.00   56.000   72.000
SO2    115083.0    4.031860    2.574129     0.50    2.50    3.400    4.800
SR     141707.0   -0.566697   83.995294 -9999.00    0.00    0.002    0.176
TOUT   126924.0   22.897635    8.405616   -67.49   18.54   23.780   28.110
WSR    133082.0    7.104643    4.299191     0.10    3.70    6.400    9.600
WDR    122274.0  130.611544  108.976997 -9999.00   48.00  114.000  179.000

            max
CO       14.600
NO      304.100
NO2     167.800
NOX     362.800
O3      173.000
PM10   1001.000
PM2.5   384.020
PRS     738.900
RAINF    83.450
RH      151.000
SO2      85.800
SR        1.942
TOUT     47.580
WSR     134.800
WDR     360.000

In [42]:
import numpy as np

# Reemplazar valores centinela (-9999) en todo el DataFrame
df.replace(-9999, np.nan, inplace=True)

# Corregir valores físicamente imposibles usando .loc para eficiencia

# RH: Humedad Relativa. Rango físico es [0, 100].
df.loc[df['RH'] > 100, 'RH'] = np.nan
df.loc[df['RH'] < 0, 'RH'] = np.nan

# TOUT: Temperatura. (min -67.49 es imposible).
# Usemos un rango meteorológico razonable para la zona (ej. -10°C a 55°C)
df.loc[df['TOUT'] < -10, 'TOUT'] = np.nan
df.loc[df['TOUT'] > 55, 'TOUT'] = np.nan

# WSR: Velocidad Viento. (max 134.8 es un spike).
# Los rangos del PDF sugieren 0-75 km/h
df.loc[df['WSR'] > 100, 'WSR'] = np.nan
df.loc[df['WSR'] < 0, 'WSR'] = np.nan

# la radiación Solar no puede ser negativa.
df.loc[df['SR'] < 0, 'SR'] = np.nan

In [43]:
# Próximo paso: Verificar la limpieza

# Asumiendo 'numeric_cols' definido en el paso anterior
new_stats_summary = df[numeric_cols].describe()
print(new_stats_summary.T)

          count        mean         std     min     25%      50%      75%  \
CO     118622.0    1.351387    0.884103    0.05    0.67    1.170    1.810
NO     113641.0    8.955196   16.231528    0.50    2.60    3.600    7.600
NO2    116278.0   14.686102   12.508786    0.00    6.30   11.100   19.200
NOX    118166.0   22.960721   24.220810    0.50    9.00   14.900   27.400
O3     117992.0   28.350108   19.828295    1.00   13.00   24.000   39.000
PM10   137680.0   54.874273   35.123320    2.00   33.00   47.000   67.000
PM2.5  107799.0   20.110019   13.825272    0.00   10.15   17.000   26.660
PRS    130513.0  712.075770    4.612436  669.00  709.20  711.900  714.900
RAINF  133977.0    0.004391    0.373807    0.00    0.00    0.000    0.000
RH     118671.0   54.230039   21.113130    0.00   38.00   56.000   72.000
SO2    115083.0    4.031860    2.574129    0.50    2.50    3.400    4.800
SR     141688.0    0.138933    0.241656    0.00    0.00    0.002    0.176
TOUT   126498.0   23.154875    7.149958   -7.42   18.60   23.810   28.130
WSR    133081.0    7.103683    4.284933    0.10    3.70    6.400    9.600
WDR    122272.0  130.777234  100.983987    1.00   48.00  114.000  179.000

            max
CO       14.600
NO      304.100
NO2     167.800
NOX     362.800
O3      173.000
PM10   1001.000
PM2.5   384.020
PRS     738.900
RAINF    83.450
RH      100.000
SO2      85.800
SR        1.942
TOUT     47.580
WSR      83.450
WDR     360.000

In [44]:
print("Calculo de el recuento de valores NaN por columna")

total_rows = df.shape[0]
nan_counts = df.isnull().sum()

nan_percentages = (nan_counts / total_rows) * 100

nan_summary = pd.DataFrame({
    'Conteo_NaN': nan_counts,
    'Porcentaje_NaN': nan_percentages
})

nan_summary_sorted = nan_summary.sort_values(by='Porcentaje_NaN', ascending=False)

print(f"Total de registros (filas): {total_rows}")
print("\n--- Resumen de Valores Nulos (NaN) por Variable ---")
print(nan_summary_sorted)

Calculo de el recuento de valores NaN por columna
Total de registros (filas): 144498

--- Resumen de Valores Nulos (NaN) por Variable ---
       Conteo_NaN  Porcentaje_NaN
PM2.5       36699       25.397583
NO          30857       21.354621
SO2         29415       20.356683
NO2         28220       19.529682
O3          26506       18.343506
NOX         26332       18.223090
CO          25876       17.907514
RH          25827       17.873604
WDR         22226       15.381528
TOUT        18000       12.456920
PRS         13985        9.678335
WSR         11417        7.901147
RAINF       10521        7.281070
PM10         6818        4.718404
SR           2810        1.944664
Zona            0        0.000000