Lectura de Dataframes

In [10]:
import pandas as pd 
import numpy as np

df_2025=pd.read_csv('data/DATOS HISTÓRICOS 2025_TODAS ESTACIONES.csv')
df_2024=pd.read_csv('data/DATOS HISTÓRICOS 2024_TODAS ESTACIONES.csv')
df_2025.head()

,date,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR
0,NaN,ppm,ppb,ppb,ppb,ppb,NaN,NaN,mmHg,mmh,%,ppb,kW/m2,°C,km/h,Azimutal
1,2025-01-01 00:00:00,NaN,NaN,NaN,NaN,36,104.0,31.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-01 01:00:00,0.18,2.6,7.5,10.1,37,58.0,30.84,725.1,0,66,4.1,0,17.62,10.7,136
3,2025-01-01 02:00:00,0.18,2.8,13.5,16.2,26,79.0,49.92,725.1,0,66,4.3,0,16.58,5.3,255
4,2025-01-01 03:00:00,0.19,3.1,15.1,18.1,22,66.0,45.87,725.1,0,74,4.1,0,15.5,5.3,250